# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Virtual environment
venv/
env/
ENV/

# Logs and data files
*.log
*.sqlite
*.db
data.txt

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
*.swp
